@model Spetmall.Model.Page.fullsend_edit
@{
    ViewBag.Title = "FullSendEdit";
}


<script src="/static/js/widget.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

<div class="common-app-tabs">
    <div class="common-app-name">满就减管理</div>
    <div class="app-tab">
        <ul>
            <li><a href="/Activity/FullSendIndex">满就减列表</a></li>
            <li class="active"><a href="#">添加满就减</a></li>
        </ul>
    </div>
</div>

<div class="form-goods-step">
    <form action="?" id="subtractfromfullForm" method="post">
        <input name="id" type="hidden" value="@Model.id" />
        <input name="state" type="hidden" value="@Model.state" />
        <input name="categoryOrProducts" id="categoryOrProducts" type="hidden" />
        <input name="rules" id="rules" type="hidden" />
        <div class="form-goods">
            <table width="100%" border="1">
                <tr class="title">
                    <td colspan="2">满就减活动信息</td>
                </tr>

                <tr>
                    <td class="name"><i>*</i> 名称：</td>
                    <td>
                        <input name="name" type="text" class="text w400 " value="@Model.name">
                        <p class="hint">满就减活动名称长度至少3个字符，最长50个汉字</p>
                    </td>
                </tr>

                <tr>
                    <td class="name">活动分类：</td>
                    <td>

                        <select name="type" id="type" class="mySelect">
                            <option value="0" @(Model.type == 0 ? "selected" : "")>店铺</option>
                            <option value="1" @(Model.type == 1 ? "selected" : "")>指定分类</option>
                            <option value="2" @(Model.type == 2 ? "selected" : "")>指定商品</option>
                        </select>

                        <p class="hint">选择分类只能是指定分类下才可以使用。</p>
                    </td>
                </tr>



                <tr class="goodsclasslist" style="height:33.9px;@(Model.type==1?"":"display:none;")">
                    <td class="name">商品分类：</td>
                    <td>
                        <div id="placeofdelivery" style="width:500px;"></div>
                        <p class="hint">选择分类只能是指定分类下才可以使用。</p>
                    </td>
                </tr>


                <tr>
                    <td class="name"></td>
                    <td><div class="placeofdeliverymsg"></div></td>
                </tr>


                <tr class="goodsselectspecid" style="@(Model.type==2?"":"display:none;")">
                    <td class="name">请选择商品：</td>
                    <td>
                        <div class="selectoption">
                            <div class="option_button"><input name="formsubmits" id="specbutton" type="button" class="btn" value="选择商品" /></div>
                            <div class="option_list" id="option_list_id"></div>
                        </div>

                    </td>
                </tr>



                <!--<tr>
                  <td class="name"><i>*</i> 循环优惠：</td>
                  <td>
                    <cite><label><input name="is_for" type="radio" checked="checked" value="1" />循环&nbsp;&nbsp;&nbsp;</label><label><input name="is_for" type="radio"  value="2" />不循环</cite>            </td>
                </tr>

                <tr>
                  <td class="name"><i>*</i> 优惠方式：</td>
                  <td>
                    <cite><label><input name="is_discount_type" type="radio" checked="checked" value="2" />按件&nbsp;&nbsp;&nbsp;</label><label><input name="is_discount_type" type="radio"  value="3" />按价格</cite>            </td>
                </tr>-->


                <tr>
                    <td class="name"><i>*</i> 创建规则：</td>
                    <td>
                        <div class="selectoption">
                            <div class="goodsguizhe_button"><input name="formsubmits" id="guizhebutton" type="button" class=" dssc-btn" value="新建规则" /></div>
                            <div class="goodsguizhe_list" id="goodsguizhe_list_id"></div>

                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="name">开始时间：</td>
                    <td>
                        <div class="widgettxt widgetw156">
                            <div><input name="starttime" autocomplete="off" id="starttime" value="@Model.starttime.ToString("yyyy-MM-dd")" type="text" /><i class="icon-fl-renminbi"></i></div>
                        </div>
                        <p class="hint"></p>

                    </td>
                </tr>

                <tr>
                    <td class="name">结速时间：</td>
                    <td>
                        <div class="widgettxt widgetw156">
                            <div><input name="endtime" autocomplete="off" id="endtime" value="@Model.endtime.ToString("yyyy-MM-dd")" type="text" /><i class="icon-fl-renminbi"></i></div>
                        </div>
                        <p class="hint"></p>
                    </td>
                </tr>




            </table>
        </div>
        <div class="formbottom">
            <label class="submit-border">
                <input name="formsubmits" id="subtractfromfullsubmit" type="button" class="btn btn btnyes" value="确认保存" />
            </label>
        </div>
    </form>
</div>




<script language="javascript">
        var TYPESELECT = function () {
            var _TYPE = $("select[name=type]"), _GOODSCLASSLIST = $(".goodsclasslist"), _GOODSSELECTSPECID = $(".goodsselectspecid");
            _TYPE.bind('change', function () {
                var _VAL = $(this).val();
                if (_VAL == 1) { _GOODSCLASSLIST.show(); } else { _GOODSCLASSLIST.hide(); }
                if (_VAL == 2) { _GOODSSELECTSPECID.show(); } else { _GOODSSELECTSPECID.hide(); }
            });
        };

    new TYPESELECT();


    var artspecdata = new ArtSpecData();
    artspecdata.setCreate(@Html.Raw(ViewBag.products));
    artspecdata.setGuizhe(@Html.Raw(ViewBag.rules));
    artspecdata.init({});


    var Linkage = new SelectLinkage();
     @{
             var parents = ViewBag.parents as List<int>;
             if (parents != null) {
                 string classString = "";
                 for (int i = 1; i <= parents.Count; i++)
                 {
                     classString += "'class" + i + "',";
                 }
                 classString = classString.Substring(0, classString.Length - 1);
                 @Html.Raw("Linkage.setName([" + classString + "]);");
                 @Html.Raw("Linkage.setUrl('GetCategorys');");
                 foreach (int item in parents) {
                        @Html.Raw("Linkage.add(" + item + ");");
             }
         }
         else
         {
             @Html.Raw("Linkage.setName(['class1', 'class2', 'class3']);");
             @Html.Raw("Linkage.setUrl('GetCategorys');");
             @Html.Raw("Linkage.add(0);");
             @Html.Raw("Linkage.add(0);");
             @Html.Raw("Linkage.add(0);");
         }
     }

        Linkage.init('#placeofdelivery', 0);


        laydate.render({
            elem: '#starttime'
        });
        laydate.render({
            elem: '#endtime'
        });
</script>
