@using Spetmall.Model;
@{
    ViewBag.Title = "满就减活动";
}

<style>
    .green {
        background-color: #bde2ba;
    }

    .red {
        background-color: #f8cfcf;
        /*color: white;*/
    }
</style>

<div class="mianbox">
    <div class="tablebox padt">
        <div class="fenlei2">
            <ul class="nav nav-tabs clear" role="tablist">
                <li role="presentation"><a href="DiscountIndex" aria-controls="home" role="tab" data-toggle="tab">商品折扣</a></li>
                <li role="presentation" class="active"><a href="FullSendIndex" aria-controls="profile" role="tab" data-toggle="tab">买就减</a></li>
                <!--  <li><a href="#">+ 添加活动</a></li>-->
            </ul>

        </div>
        <div>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home">
                    <div class="huodog padtb">
                        <div class="padtb">
                            <a href="FullSendEdit/0" class="btn btn-primary" id="open">添加买就减活动</a>

                        </div>
                        <div>
                            <table class="table01" width="100%" border="0" cellspacing="0" cellpadding="0">

                                <tbody>
                                    <tr>
                                        <th width="5%">ID</th>
                                        <th width="25%">标题</th>
                                        <th width="14%">活动类型</th>
                                        <th width="19%">日期范围</th>
                                        <th width="14%">创建时间</th>
                                        <th width="10%">状态</th>
                                        <th width="14%">操作</th>
                                    </tr>
                                    @{
                                        foreach (fullsend item in ViewBag.datas as IList<fullsend>)
                                        {
                                            <tr>
                                                <td>@item.id</td>
                                                <td>@item.name</td>
                                                <td>@item.TypeString</td>
                                                <td>@item.starttime.ToString("yyyy/MM/dd") - @item.endtime.ToString("yyyy/MM/dd")</td>
                                                <td>@item.crtime.ToString("yyyy/MM/dd HH:mm:ss")</td>
                                                <td class="@(item.StateString=="已停用"||item.StateString=="已结束"?"red":item.StateString=="进行中"?"green":"")">@item.StateString</td>
                                                <td>
                                                    <a href="FullSendEdit/@item.id">修改</a>
                                                    | <a href="javascript:yunmall_confirm_dialog('确定删除吗？','FullSendDelete/@item.id','reload')">删除</a>
                                                    | <a href="javascript:yunmall_confirm_dialog('确定@(item.state == 0 ? "启用" : "停用")吗？','UpdateFullSendState?id=@item.id&state=@(item.state==0?1:0)','reload')">@(item.state == 0 ? "启用" : "停用")</a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!--
                         <ul class="clear">
                                         <li  ><a href="/Activity/subtractfromfulledit/id/389.html">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                      <td width="78"><img src="/static/images/hd01.png"></td>
                                      <td>
                                        <span>狗粮可好吃了</span>
                                        <span>2019-06-03 00:00:00 到 2019-06-25 00:00:00 </span>
                                      </td>
                                    </tr>
                                </table>
                                </a>
                             </li>

                        </ul>
                        -->
                    </div>
                    <div class="pagin"></div>

                </div>

            </div>
        </div>
    </div>
</div>

