@using Spetmall.Model.Page;
@{
    ViewBag.Title = "交易明细";
    ViewBag.bodyClass = "transaction-index";
}

<link href="~/static/extend/jquery.pagination-1.2.7/jquery.pagination.css?ver=@HttpContext.Current.Application["ver"]" rel="stylesheet" />
<script src="~/static/extend/jquery.pagination-1.2.7/jquery.pagination-1.2.7.js?ver=@HttpContext.Current.Application["ver"]"></script>

<div class="mianbox">
    <div class="searchbar">
        <form action="?" method="get">
            <div style=" padding-right:660px;">
                <div class="search">
                    @Html.TextBox("keyword", null, new { autocomplete = "off", placeholder = "请输入订单号或会员手机号" })
                </div>
            </div>
            <div class="rightbtn">
                <div class="time">
                    @Html.TextBox("starttime", null, new { autocomplete = "off", placeholder = "开始时间", @class = "test1 yunmalldate" })
                    <span>至</span>
                    @Html.TextBox("endtime", null, new { autocomplete = "off", placeholder = "结束时间", @class = "test2 yunmalldate" })
                </div>
                <a href="javascript:;" class="barbtn01" id="yunmall_goods_search">查询</a>
            </div>
        </form>
    </div>

    <div class="tablebox padt">
        <div class="fenlei2">
            <ul class="clear">
                <li><a href="?keyword=@ViewBag.keyword&starttime=@ViewBag.starttime&endtime=@ViewBag.endtime&time=1" class="@(ViewBag.time=="1"?"active2":"")">今天</a></li>
                <li><a href="?keyword=@ViewBag.keyword&starttime=@ViewBag.starttime&endtime=@ViewBag.endtime&time=2" class="@(ViewBag.time=="2"?"active2":"")">近二天</a></li>
                <li><a href="?keyword=@ViewBag.keyword&starttime=@ViewBag.starttime&endtime=@ViewBag.endtime&time=7" class="@(ViewBag.time=="7"?"active2":"")">近一周</a></li>
                <li><a href="?keyword=@ViewBag.keyword&starttime=@ViewBag.starttime&endtime=@ViewBag.endtime&time=30" class="@(ViewBag.time=="30"?"active2":"")">近一月</a></li>
                <li><a href="?keyword=@ViewBag.keyword&starttime=@ViewBag.starttime&endtime=@ViewBag.endtime&time=365" class="@(ViewBag.time=="365"?"active2":"")">近一年</a></li>
            </ul>
        </div>
        <table class="table01" width="100%" border="0" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <th width="15%">交易订单号</th>
                    <th width="9%">商品金额</th>
                    <th width="10%">实际支付</th>
                    <th width="9%">优惠</th>
                    <th width="9%">调价</th>
                    <th width="9%">支付方式</th>
                    <th width="9%">用户</th>
                    <th width="15%">交易时间</th>
                    <th width="15%">操作</th>
                </tr>
                @{
                    var datas = ViewBag.datas as IList<order_detail>;
                    foreach (order_detail item in datas)
                    {
                        <tr>
                            <td>@item.id</td>
                            <td>@item.productMoney</td>
                            <td>@item.payMoney</td>
                            <td>@(-item.discountMoney)</td>
                            <td>@(-item.adjustMomey)</td>
                            <td>@item.payTypeString</td>
                            <td>@item.memberName</td>
                            <td>@item.crtime</td>
                            <td><a href="Detail/@item.id">查看详情</a> @Ajax.ActionLink("打印小票", "Print", new { id = item.id }, new AjaxOptions() { HttpMethod = "Post", Confirm = "确定要打印该订单的小票吗？" })</td>
                        </tr>
                    }
                    <tr style="font-weight:bold;">
                        <td>数据汇总</td>
                        <td>@(datas.Sum(a => a.productMoney))</td>
                        <td>@(datas.Sum(a => a.payMoney))</td>
                        <td>@(-datas.Sum(a => a.discountMoney))</td>
                        <td>@(-datas.Sum(a => a.adjustMomey))</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                }

            </tbody>
        </table>

        <div id="pager" class="m-pagination"></div>
    </div>
</div>

<script language="javascript">
    var page=@ViewBag.Page;
    var pagesize=@ViewBag.PageSize;
    var totalTotalRecordCount=@ViewBag.TotalDataCount;

    $(function () {
        $("#yunmall_goods_search").bind('click', function () {
            $(this).closest("form").submit();
        });

        //分页
        $("#pager").page({
            pageSize: pagesize,
            total: totalTotalRecordCount,
            pageSizeItems: [20, 50, 100],
            showJump: true,
            showPageSizes: true,
            pageBtnCount: 15,
            showInfo: false,
            firstBtnText: "|<<",
            lastBtnText: ">>|",
            prevBtnText: "<",
            nextBtnText: ">"
        }).on("pageClicked", function (event, pageNumber) {
            location.href = "Index?keyword=" + getUrlParam("keyword") + "&starttime=" + getUrlParam("starttime") + "&endtime=" + getUrlParam("endtime")
                + "&time=" + getUrlParam("time") + "&pagesize=" + pagesize + "&page=" + (pageNumber + 1);
        }).on("jumpClicked", function (event, pageNumber) {
            location.href = "Index?keyword=" + getUrlParam("keyword") + "&starttime=" + getUrlParam("starttime") + "&endtime=" + getUrlParam("endtime")
                + "&time=" + getUrlParam("time")  + "&pagesize=" + pagesize + "&page=" + (pageNumber + 1);
        }).on("pageSizeChanged", function (event, pageSize) {
            location.href = "Index?keyword=" + getUrlParam("keyword") + "&starttime=" + getUrlParam("starttime") + "&endtime=" + getUrlParam("endtime")
                + "&time=" + getUrlParam("time")   + "&pagesize=" + pageSize + "&page=1";
        }).page("setPage", page - 1);

    });
</script>


<script>
    lay('#version').html('-v' + laydate.v);
</script>
