@using Spetmall.Model;
@{
    ViewBag.Title = "Index";
}
<script src="~/static/js/selectpage.js"></script>
<link href="~/static/dialog/css/dialog.css" rel="stylesheet" />
<script src="~/static/dialog/js/dialog.min.js"></script>

<div class="mianbox">
    <div class="searchbar">
        <div style="padding-right: 350px;">
            <div class="search">
                <input type="text" name="keyword" value="" placeholder="请输入商品名称或条形码">
                <a href="javascript:;" id="yunmall_goods_search">查询</a>
            </div>

        </div>
        <div class="rightbtn">
            <a href="javascript:;" yun_type="dialog" dialog_title="添加商品" uri="edit/0" dialog_width="60%" class="barbtn01" id="open">添加商品</a>
            <a href="?orderBy=sales" class="barbtn02 ">按售量</a>
            <a href="?orderBy=store" class="barbtn02 ">按库存</a>
        </div>
    </div>
    <div class="padt">
        <div class="fenlei2 yunmallsuperfish" id="yunmallgoodsclass">
            <ul class="clear sf-menu">
                <li class="active"><a href="?time=1558613802">全部</a></li>

                @{
                    var categorys = ViewBag.categorys as List<category>;
                    var roots = categorys.Where(a => a.floor == 0);
                    foreach (category root in roots)
                    {
                        <li>
                            <a href="javascript:void(0);" data-class="@root.id">@root.name<i class="iconfont i-shanjiaoxia"></i></a>
                            <ul>
                                @{
                                    var subs = categorys.Where(a => a.pid == root.id);
                                    foreach (category sub in subs)
                                    {
                                        <li>
                                            <a href="index?category=@sub.id" data-class="@sub.id"><em></em>@sub.name</a>
                                        </li>
                                    }
                                }
                            </ul>
                        </li>
                    }
                }
            </ul>
        </div>

        <div class="chanpin clear">

            <ul id="goods-list">
                @{
                    foreach (product item in ViewBag.datas)
                    {
                        <li class="">
                            <a href="javascript:;" yun_type="dialog" dialog_title="修改商品" uri="edit/@item.id" dialog_width="60%">
                                <img src="@item.thumbnail" onerror="this.src='/static/images/defaultgoods.jpg';" style="width:100%;height:250px;">
                                <div class="cpnav">
                                    <ol>@item.name</ol>
                                    <p>单价：<strong>@item.price 元</strong></p>
                                    <div class="clear goods_attr_info">
                                        <span class="">库存：@item.store</span>
                                        <span class="">销量：@item.sales</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                    }
                }
            </ul>
            <div class="emptydata" style="display:none;">没有数据了</div>
            <div class="emptydatasearch" style="display:none;">没有搜索到相关数据,请换一个关键词试一下</div>
        </div>

    </div>
</div>
<script language="javascript">

    $(function () {

        var selectpage = new selectPage();
        selectpage.empty = function (_data, _request) {

            if (this.config.page <= 1 && _request['keyword'] && _request['keyword'] != '') {

                $(".emptydatasearch").show();
            } else {
                $(".emptydata").show();
            }
        };

        selectpage.successBefore = function (_data) {
            if (this.config.page <= 1) {
                this.config.content.empty();
                $(".emptydatasearch").hide();
                if (_data.datacount > 1) {
                    $(".search_empty").hide();
                }
            }
        };

        selectpage.bind = function (_dom) {
            yunmalldialog(_dom.find("[yun_type=dialog]"));
        };

        selectpage.afterAll = function () {
            //this.config.content.append('<div class="loaded">已经没有更多商品了</div>');
            $(".emptydata").show();
        };

        //selectpage.init({ url: 'Index', page: 1, scroll: $(window), content: $("#goods-list") });
        //selectpage.setData({});
        //selectpage.paginate();

        //$("#yunmallgoodsclass a").bind('click', function (event) {
        //    event.preventDefault();
        //    selectpage.setPage(1);
        //    selectpage.setData({ "category": $(this).attr('data-class') });
        //    selectpage.paginate();
        //});



        $("#yunmall_goods_search").bind('click', function (event) {
            event.preventDefault();
            selectpage.setPage(1);
            selectpage.setData({ "keyword": $.trim($("input[name=keyword]").val()) });
            selectpage.paginate();
        });

        $(document).keyup(function (event) {
            if (event.keyCode == 13) {
                selectpage.setPage(1);
                selectpage.setData({ "keyword": $.trim($("input[name=keyword]").val()) });
                selectpage.paginate();
            }
        });
    })

</script>
<script type="text/javascript">

    $(document).ready(function () {
        var _menuTime = null, _TMPELE = null;

        $(".sf-menu li").mouseover(function (event) {
            event.stopPropagation();
            if (_menuTime) window.clearTimeout(_menuTime);
            $(this).siblings().find("ul:visible").hide();
            $(this).children('ul').show();

        });

        $(".sf-menu li").mouseout(function (event) {
            event.stopPropagation();
            _menuTime = setTimeout(function () {
                $(".sf-menu ul:visible").hide();
            }, 50);
        });

        $(document).bind('click', function () {
            $("input[name=title]").focus();
        }).trigger('click');

    });
</script>
