@model Spetmall.Model.railcard
@{
    ViewBag.Title = "洗澡卡管理";
    Layout = null;
}

<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>洗澡卡管理</title>
    <link rel="stylesheet" type="text/css" href="/static/css/common.css?v=@HttpContext.Current.Application["ver"]">
    <link rel="stylesheet" type="text/css" href="/static/css/ui-dialog.css?v=@HttpContext.Current.Application["ver"]">
    <link rel="stylesheet" type="text/css" href="/static/css/buttons.css?v=@HttpContext.Current.Application["ver"]">
    <link rel="stylesheet" href="/static/extend/honeySwitch/lib/honeySwitch.css?v=@HttpContext.Current.Application["ver"]">

    <script type="text/javascript" src="/static/js/jquery-1.12.2.min.js?v=@HttpContext.Current.Application["ver"]"></script>
    <script src="/static/extend/honeySwitch/lib/honeySwitch.js?v=@HttpContext.Current.Application["ver"]"></script>
    <script src="/static/extend/laydate/laydate.js?v=@HttpContext.Current.Application["ver"]"></script>
    <script src="/static/js/artDialog.source.js?v=@HttpContext.Current.Application["ver"]"></script>
    <script src="/static/js/iframeTools.source.js?v=@HttpContext.Current.Application["ver"]"></script>
    <script src="/static/js/iframe.js?v=@HttpContext.Current.Application["ver"]"></script>
    <script src="/static/js/common.js?v=@HttpContext.Current.Application["ver"]"></script>
    <script src="/Scripts/common.js?v=@HttpContext.Current.Application["ver"]"></script>

</head>

<body class="iframebody">

    <form class=" pad15" action="?" method="post" style="margin-top:30px;">
        <ul class="formlist">
            <li>
                <label class="lbt"><em>(*)</em>手机号：</label><div>
                    @Html.TextBoxFor(a => a.phone, new { @class = "form-control", placeholder = "请输入手机号码" })
                    <span id="errphone" class="error"></span>
                </div>
            </li>
            <li>
                <label class="lbt">主人姓名：</label><div>
                    @Html.TextBoxFor(a => a.name, new { @class = "form-control", placeholder = "请输入主人姓名" })
                </div>
            </li>
            <li>
                <label class="lbt">宠物名字：</label><div>
                    @Html.TextBoxFor(a => a.petname, new { @class = "form-control", placeholder = "请输入宠物名字" })
                </div>
            </li>
            <li>
                <label class="lbt">宠物年龄：</label><div>
                    @Html.TextBoxFor(a => a.petage, new { @class = "form-control", placeholder = "请输入宠物年龄（岁）" })
                </div>
            </li>
            <li>
                <label class="lbt"><em>(*)</em>使用次数：</label><div>
                    @Html.TextBoxFor(a => a.times, new { @class = "form-control", placeholder = "请输入使用次数" })
                    <span id="errtimes" class="error"></span>
                </div>
            </li>
            <li>
                <label class="lbt"><em>(*)</em>总金额：</label><div>
                    @Html.TextBoxFor(a => a.money, new { @class = "form-control", placeholder = "请输入总金额" })
                    <span id="errmoney" class="error"></span>
                </div>
            </li>
            <li>
                <label class="lbt"><em>(*)</em>开始时间：</label><div>
                    @Html.TextBoxFor(a => a.starttime, new { @class = "form-control yunmalldate", autocomplete = "off", placeholder = "请选择开始时间" })
                    <span id="errstarttime" class="error"></span>
                </div>
            </li>
            <li>
                <label class="lbt"><em>(*)</em>结束时间：</label><div>
                    @Html.TextBoxFor(a => a.endtime, new { @class = "form-control yunmalldate", autocomplete = "off", placeholder = "请选择结束时间" })
                    <span id="errendtime" class="error"></span>
                </div>
            </li>
            <li>
                <label class="lbt">备注：</label><div>
                    @Html.TextBoxFor(a => a.remark, new { @class = "form-control", placeholder = "请输入备注" })
                </div>
            </li>
        </ul>
        <div class="padt" style="text-align: center"><a href="#" class="btn btnyes yunmall_button">添加</a></div>

    </form>

    <script>
        function isValid() {
            var result = true;
            result = IsValueNotEmpty("phone", "errphone", "手机号") && result;
            result = IsValueNotEmpty("times", "errtimes", "使用次数") && result;
            result = IsValueNotEmpty("money", "errmoney", "总金额") && result;
            result = IsValueNotEmpty("starttime", "errstarttime", "开始时间") && result;
            result = IsValueNotEmpty("endtime", "errendtime", "结束时间") && result;
            result = result && IsValueNumber("times", "errtimes", "使用次数");
            result = result && IsValueDecimal("money", "errmoney", "总金额");
            return result;
        }
    </script>
</body>
</html>
