@using Spetmall.Model;
@model Spetmall.Model.railcard_record
@{
    ViewBag.Title = "Edit";
    Layout = null;
    var railcard = ViewBag.railcard as railcard;
}

<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>洗澡卡</title>
    <link rel="stylesheet" type="text/css" href="/static/css/common.css?v=@HttpContext.Current.Application["ver"]">
    <link rel="stylesheet" type="text/css" href="/static/css/ui-dialog.css?v=@HttpContext.Current.Application["ver"]">
    <link rel="stylesheet" type="text/css" href="/static/css/buttons.css?v=@HttpContext.Current.Application["ver"]">
    <link rel="stylesheet" href="/static/extend/honeySwitch/lib/honeySwitch.css?v=@HttpContext.Current.Application["ver"]">

    <script type="text/javascript" src="/static/js/jquery-1.12.2.min.js?v=@HttpContext.Current.Application["ver"]"></script>
    <script src="/static/extend/honeySwitch/lib/honeySwitch.js?v=@HttpContext.Current.Application["ver"]"></script>
    <script src="/static/extend/laydate/laydate.js?v=@HttpContext.Current.Application["ver"]"></script>
    <script src="/static/js/artDialog.source.js?v=@HttpContext.Current.Application["ver"]"></script>
    <script src="/static/js/iframeTools.source.js?v=@HttpContext.Current.Application["ver"]"></script>
    <script src="/static/js/iframe.js?v=@HttpContext.Current.Application["ver"]"></script>
    <script src="/static/js/common.js?v=@HttpContext.Current.Application["ver"]"></script>
    <script src="/Scripts/common.js?v=@HttpContext.Current.Application["ver"]"></script>

    <style>
        .mid {
            vertical-align: -webkit-baseline-middle;
        }
    </style>
</head>

<body class="iframebody">
    <div style=" padding:20px;">
        <form class="pad15" action="?">
            <input name="railcardid" type="hidden" value="@ViewBag.railcardid" />
            <ul class="formlist">
                <li>
                    <label class="lbt">姓名：</label><div>
                        <span class="mid">@railcard.name</span>
                    </div>
                </li>
                <li>
                    <label class="lbt">手机号：</label><div>
                        <span class="mid">@railcard.phone</span>
                    </div>
                </li>
                <li>
                    <label class="lbt">剩余次数：</label><div>
                        <span class="mid">@railcard.lefttimes</span>
                    </div>
                </li>
                <li>
                    <label class="lbt"><em>(*)</em>使用次数：</label><div>
                        @Html.TextBoxFor(a => a.times, new { @class = "form-control", placeholder = "请输入使用次数" })
                        <span id="errtimes" class="error"></span>
                    </div>
                </li>
                <li>
                    <label class="lbt">备注：</label><div>
                        @Html.TextAreaFor(a => a.remark, 2, 2, new { @class = "form-textarea confiem_remarks_information", placeholder = "请输入备注", cols = "", rows = "" })
                    </div>
                </li>
            </ul>
            <div class="padt" style="text-align: center"><a href="javascript:;" class="btn btnyes yunmall_button">保存</a></div>
        </form>
    </div>
    <script>
        function isValid() {
            var result = true;
            result = IsValueNotEmpty("times", "errtimes", "使用次数") && result;
            result = result && IsValueNumber("times", "errtimes", "使用次数");
            return result;
        }

    </script>
</body>
</html>

