@using Spetmall.Model;
@{
    ViewBag.Title = "洗澡卡管理";
    ViewBag.bodyClass = "railcard-index";
}

<link href="~/static/extend/jquery.pagination-1.2.7/jquery.pagination.css?ver=@HttpContext.Current.Application["ver"]" rel="stylesheet" />
<script src="~/static/extend/jquery.pagination-1.2.7/jquery.pagination-1.2.7.js?ver=@HttpContext.Current.Application["ver"]"></script>

<div class="mianbox">
    <div class="searchbar">
        <div style=" padding-right:430px;">
            <form action="" method="get">
                <div class="search">
                    <input type="text" name="keyWord" value="" placeholder="请输入手机号或姓名">
                    <a href="javascript:;" id="yunmall_goods_search">查询</a>
                </div>
            </form>
        </div>
        <div class="rightbtn">
            <a href="javascript:;" yun_type="dialog" dialog_title="添加洗澡卡" uri="Add" dialog_width="50%" dialog_height="570px" class="barbtn01" id="open" style="font-size:24px;">添加洗澡卡</a>
            <a href="?keyWord=@ViewBag.keyWord&orderBy=money" class="barbtn02 @(@ViewBag.orderBy=="money"?"active":"")">按总金额</a>
            <a href="?keyWord=@ViewBag.keyWord&orderBy=lefttimes" class="barbtn02 @(@ViewBag.orderBy=="lefttimes"?"active":"")">按剩余次数</a>
        </div>
    </div>

    <div class="tablebox padt">

        <table class="table01" width="100%" border="0" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <th>卡号</th>
                    <th>姓名</th>
                    <th>手机</th>
                    <th>宠物名字</th>
                    <th>宠物年龄</th>
                    <th>总金额</th>
                    <th>总次数</th>
                    <th>剩余次数</th>
                    <th>使用时间范围</th>
                    <th>办卡时间</th>
                    <th>备注</th>
                    <th>查看消费记录</th>
                </tr>
                @{
                    foreach (railcard item in ViewBag.datas as List<railcard>)
                    {
                        <tr>
                            <td>@item.id</td>
                            <td>@item.name</td>
                            <td>@item.phone</td>
                            <td>@item.petname</td>
                            <td>@item.petage</td>
                            <td>@item.money</td>
                            <td>@item.times</td>
                            <td>@item.lefttimes</td>
                            <td>@item.starttime.ToString("yyyy/MM/dd") - @item.endtime.ToString("yyyy/MM/dd")</td>
                            <td>@item.crtime</td>
                            <td>@item.remark</td>
                            <td>
                                <a href="javascript:;" yun_type="dialog" dialog_title="使用洗澡卡" uri="edit/@item.id" dialog_width="50%" dialog_height="480px" id="open">使用洗澡卡</a>
                                | <a href="Record/@item.id">使用记录</a>
                                | <a href="javascript:void(0);" onclick="yunmall_confirm_dialog('您确定要删除这条记录吗?','delete/@item.id','reload')">删除</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    <div id="pager" class="m-pagination"></div>
</div>

<script language="javascript">
    var page=@ViewBag.Page;
    var pagesize=@ViewBag.PageSize;
    var totalTotalRecordCount=@ViewBag.TotalDataCount;

    $(function () {
        $("#yunmall_goods_search").bind('click', function () {
            $(this).closest("form").submit();
        });

        $("#pager").page({
            pageSize: pagesize,
            total: totalTotalRecordCount,
            pageSizeItems: [20, 50, 100],
            showJump: true,
            showPageSizes: true,
            pageBtnCount: 15,
            showInfo: false,
            firstBtnText: "|<<",
            lastBtnText: ">>|",
            prevBtnText: "<",
            nextBtnText: ">"
        }).on("pageClicked", function (event, pageNumber) {
            location.href = "Index?keyWord=" + getUrlParam("keyWord") + "&orderBy=" + getUrlParam("orderBy")
                + "&pagesize=" + pagesize + "&page=" + (pageNumber + 1);
        }).on("jumpClicked", function (event, pageNumber) {
            location.href = "Index?keyWord=" + getUrlParam("keyWord") + "&orderBy=" + getUrlParam("orderBy")
                + "&pagesize=" + pagesize + "&page=" + (pageNumber + 1);
        }).on("pageSizeChanged", function (event, pageSize) {
            location.href = "Index?keyWord=" + getUrlParam("keyWord") + "&orderBy=" + getUrlParam("orderBy")
                + "&pagesize=" + pageSize + "&page=1";
        }).page("setPage", page - 1);

    });
</script>
