@model Spetmall.Model.financial_flow
@using Spetmall.Model;
@{
    ViewBag.Title = "资金流水";
    Layout = null;
}


<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>资金流水</title>
    <link rel="stylesheet" type="text/css" href="/static/css/common.css?v=@HttpContext.Current.Application["ver"]">
    <link rel="stylesheet" type="text/css" href="/static/css/ui-dialog.css?v=@HttpContext.Current.Application["ver"]">
    <script type="text/javascript" src="/static/js/jquery-1.12.2.min.js?v=@HttpContext.Current.Application["ver"]"></script>
    <script src="/static/extend/laydate/laydate.js?v=@HttpContext.Current.Application["ver"]"></script>
    <script src="/static/js/artDialog.source.js?v=@HttpContext.Current.Application["ver"]"></script>
    <script src="/static/js/iframeTools.source.js?v=@HttpContext.Current.Application["ver"]"></script>
    <script src="/static/js/iframe.js?v=@HttpContext.Current.Application["ver"]"></script>
    <script src="/static/js/common.js?v=@HttpContext.Current.Application["ver"]"></script>
    <script src="/Scripts/common.js?v=@HttpContext.Current.Application["ver"]"></script>
</head>
<body class="iframebody">
    <form class=" pad15" action="?">
        <input name="id" type="hidden" value="@Model.id">
        <ul class="formlist">
            <li>
                <label class="lbt"><em>(*)</em>日期：</label><div>
                    <input name="date" id="date" autocomplete="off" class="yunmalldate form-control width150px" value="@Model.date.ToString("yyyy-MM-dd")" type="text" /><i class="icon-fl-renminbi"></i>
                    <span id="errdate" class="error"></span>
                </div>
            </li>
            <li>
                <label class="lbt"><em>(*)</em>类型：</label><div>
                    @Html.DropDownListFor(a => a.type, ViewBag.TypeList as List<SelectListItem>, new { @class = "form-control width150px", style = "height:36px;" })
                    <span id="errtype" class="error"></span>
                </div>
            </li>
            <li>
                <label class="lbt"><em>(*)</em>金额(元)：</label><div>
                    @Html.TextBoxFor(a => a.money, new { @class = "form-control width150px" })
                    <span id="errmoney" class="error"></span>
                </div>
            </li>
            <li>
                <label class="lbt">备注：</label><div>
                    @Html.TextBoxFor(a => a.remark, new { @class = "form-control", placeholder = "请输入备注" })
                    <span id="errremark" class="error"></span>
                </div>
            </li>
        </ul>
        <div class="padt" style="text-align: center"><a href="javascript:;" class="btn btnyes yunmall_button">保存</a></div>

    </form>

    <script language="javascript">

        function isValid() {
            var result = true;
            var dateid = $("input[name='date']")[0].id;
            result = IsValueNotEmpty(dateid, "errdate", "日期") && result;
            result = IsValueNotEmpty("type", "errtype", "类型") && result;
            result = IsValueNotEmpty("money", "errmoney", "金额") && result;
            result = IsValueNot0("money", "errmoney", "金额") && result;

            result = result && IsValueDecimal("money", "errmoney", "金额");

            return result;
        }

    </script>

</body>
</html>
